<!DOCTYPE html>
<html>
<head>
  <title>New Confusion</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
</head>
<body>
 <div id="app">
   <v-app light>
    <v-content>
      <section>

        <v-parallax src="assets/newconfusion.png" height="600" align="left" >
    <v-layout align-center justify-left>
            <div>
            <div style= "color: whitesmoke;text-shadow: 4px 3px black, -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; outline: blak; font-size: 48pt">New Confusion</div>
              <div style= "color: whitesmoke;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black,2px 2px grey; outline: blak; font-size: 24pt"> A new movement in contemporary art music</div>

            </div>            
          

        </v-layout>
        </v-parallax>
      </section>

      <section>
        <v-layout
          column
          wrap
          class="my-5"
          align-center
        >
          <v-flex xs12 sm4 class="my-3">
            <div class="text-xs-center">
              <h2 class="headline">A new way to compose</h2>
              <span class="subheading">
                Through the use of unclear notation, new confusion strives to create spontanious and inovative music
              </span>
            </div>
          </v-flex>
          <v-flex xs12>
            <v-container grid-list-xl>
              <v-layout row  align-top justify-space-between>
                <v-flex xs12 md4 v-for="i in intro">
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">       

                      <v-icon x-large class="black--text text--lighten-2">{{i.icon}}</v-icon>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline text-xs-center">{{i.title}}</div>
                    </v-card-title>
                    <v-card-text>
                        {{i.info}}
                    </v-card-text>
                  </v-card>
                </v-flex>

              </v-layout>
            </v-container>
          </v-flex>
        </v-layout>
          
      </section>

      <section>
          <v-layout column align-center justify-center>
            <div class="headline black--text mb-3 text-xs-center">The artists in the movement</div>
              <v-flex v-for="composer in composers" xsl-12> 
                <v-card width= "800px" my-3 hover="true"> 
                    <v-layout my-2>
                    <v-flex xs5 align-middle>
                            <v-img v-bind:src="composer.headshot"
                        aspect-ratio= "1"
                        max-width= "500px"
                        position= "middle middle"                                   

                           >
                    </v-img>
                        </v-flex>
                        <v-flex xs12>
                    <v-card-title primary-title>
                    <div>
                      <div class="headline">{{composer.name}}</div>
                        {{composer.bio}}
                    </div>

                  </v-card-title>
                
                    
                        </v-flex>

                    </v-layout>

                  </v-card>
                  
                  
              
              </v-flex>
          </v-layout>
    
          
      </section>


      
    </v-content>
  </v-app>
 </div>
 <script src="https://unpkg.com/vue/dist/vue.js"></script>
 <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
 <script src="assets/db.js"> </script>
</body>
</html>